* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #1a2a6c;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  padding: 2%;
  font-family: 'Roboto', sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em;
  width: 100%;
  height: 100px;
  background: rgba(0, 0, 0, .15);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 3em;
}

.logo {
  padding: .5em;
  font-size: 8vw;
}

.nav {
  list-style: none;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.nav a {
  text-decoration: none;
  color: black;
  padding: 1em;
  font-size: 4vw;
}

.nav a:hover {
  text-decoration: underline;
}

@media (min-width: 700px) {
  .logo {
    font-size: 3.5em;
  }
  .nav a {
    font-size: 1.8em;
  }
}

.link {
  color: black;
  text-decoration: none;
}

.beer-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  grid-auto-rows: 1fr;
  grid-gap: 20px;
  list-style: none;
  margin-bottom: 1em;
}

.beer-card {
  background: rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: grid;
  grid-template-columns: 150px 1fr;
  grid-gap: 10px;
  align-items: center;
  color: black;
  height: 100%;
  animation: fadeIn .8s .2s forwards;
  opacity: 0;
}

@media (min-width: 1000px) {
  .random-container>.beer-card {
    grid-template-columns: 1fr 1fr;
  }
  .random-container .img-beer {
    transform: rotate(90deg);
    height: 200%;
    width: 100%;
    max-width: none;
  }
}

.beer-card:hover {
  background: rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.img-beer {
  width: 100%;
  max-width: 300px;
  height: 100%;
  max-height: 300px;
  object-fit: scale-down;
  filter: drop-shadow(0 5px 5px);
}

.beer-details {
  padding: 3% 5%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 auto;
}

.beer-heading {
  font-size: 1.6em;
}

.beer-tagline {
  margin-top: .6em;
  margin-bottom: 1em;
}

.beer-description {
  margin: .5em 0;
}

.beer-pairing-head {
  margin: .3em 0;
}

.beer-pairing {
  margin-bottom: .1em;
}

.beer-item-full {
  padding: 2em;
  display: flex;
  flex-direction: column-reverse;
  background: rgba(0, 0, 0, 0.1);
  min-height: 100vh;
  animation: fadeIn .8s .2s forwards;
  opacity: 0;
}

.beer-item-full .beer-img-full {
  max-width: 400px;
  max-height: 400px;
  object-fit: scale-down;
  margin: 0 auto;
  filter: drop-shadow(0 5px 5px);
  transform: rotate(15deg);
}

@media (min-width: 600px) {
  .beer-item-full .beer-img-full {
    animation: rotate 1s infinite linear paused;
  }
  .beer-item-full .beer-img-full:hover {
    animation: rotate 1s infinite linear;
  }
}

.btn-more, .btn-random {
  width: 100%;
  padding: 1em;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border: none;
  background: rgba(0, 0, 0, 0.1);
  font-size: 1em;
  transition: .3s;
  color: black;
}

.btn-more:hover, .btn-random:hover {
  cursor: pointer;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.btn-random {
  margin: 2.5em 0;
  font-size: 1.2em;
  transition: .3s;
  opacity: 0;
  animation: fadeIn .8s .2s forwards;
}

.error-info {
  background-color: rgb(235, 116, 116);
  border: 1px solid red;
  padding: 2em;
  margin: 5em auto;
  width: 40%;
  text-align: center;
  font-size: 1em;
  opacity: 0;
  animation: fadeIn .6s forwards;
}

/* SPINNER */

.spinner {
  width: 40px;
  height: 40px;
  position: relative;
  margin: 100px auto;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, .3);
  position: absolute;
  top: 0;
  left: 0;
  animation: sk-bounce 1s infinite ease-in-out;
}

.double-bounce2 {
  animation-delay: -.5s;
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
  }
  50% {
    transform: scale(1.0);
  }
}

@keyframes fadeIn {
  100% {
    opacity: 1;
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
